extends ../layout

block content
    div(class="container")
        if success
          p(class="alert success") #{success}
        if error
          p(class="alert error") #{error}

        a(href="/picture/new" class="pull-right") Add a new picture
        h2(class="page-header") Your dashboard (#{nbtotal} pic#{(nbtotal==1 ? '' : 's')}) &nbsp;
            small Page #{p} / #{totalp}
        
        if docs.length > 0
            div(class="grid" data-err="1")
                -var edit = true
                for item in docs
                   include ../inc.item.pug

            include ../inc.paging.pug

        else
            p You don't have any pictures