extends layout

block content
    div(class="container")
        if dashboard
            a(class="pull-right" href="/cloud/" + dashboard.username) Cloud of tags

        h2(class="page-header")
            if dashboard
                | Pictures of <b>#{dashboard.username}</b> 
            else if tag
                | Pictures ##{tag} 
            else
                | Pictures 
            | (#{nbtotal} pic#{(nbtotal==1 ? '' : 's')}) &nbsp;
            small Page #{p} / #{totalp}

        if docs.length > 0
            noscript This website works best with JavaScript !
            div(class="grid")

                -var edit = false
                for item in docs
                    include inc.item.pug
            include inc.paging.pug
        else
            p There are no pictures here. 
                a(href="/picture/new") Add your own !